.container{
  width: 100%;
  min-height: 100vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: #cecece;
}
.container .titulo{
  font-size: 1.2rem;
}

.container .searchForm{
  display: flex;
  gap:10px;
  margin-bottom: 40px;
}

.container .searchForm .search{
  padding: 10px 5px;
  border-radius: 20px;
  border: none;
}
.container .searchForm .btn-search{
  cursor: pointer;
}

.container .library{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.container .library .book{
  max-width: 200px;
  max-height: 300px;
  background: #defff7fe;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.container .library .book .book-title{
  font-size: 14px;
  text-align: center;
}